@import '../../../../../../styles/variables/all.scss';

.total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span.gray {
    display: block;
    margin-right: 10px;

    color: $color--gray;
    font-size: 20px;
  }

  span.default {
    display: block;
    color: $color--light-black;
    font-size: 20px;
  }
}