// BLUE
$color--light-blue: #439DD5;

// BLACK
$color--light-black: #464646;

// GRAY
$color--gray: #999999;
$color--gray-bc: #DCDCDC;
$color--bc-gray: rgb(247, 247, 247);
$color--light-gray: #979797;
$color--vlight-gray: #F7F7F7;
$color--nvlight-gray: #ECECEC;
$color--light-gray-cross: #D8D8D8;

// PINK
$color--special-pink: #FF6A6A;

// BUTTONS
$color--button-inactive: #BBBBBB;
$color--button-hover-inactive: #9C9C9C;
$color--button-inactive-active: #6F6F6F;
