@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/rubik/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/rubik/Rubik-Medium.ttf');
}
